@import "tailwindcss";

/* Base styles / Custom Utilities */
@theme {
  --color-turf-green: #14532D;
  --color-turf-dark: #052E16;
  --color-turf-light: #22C55E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
